
#details{
    margin-top: 100px;
}
#details button{
    border: none;
    background-color:black ;
    text-align: center;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 2px 2px;
}

#smartphone{
    text-align: center;
    
    
}
.card{
    
    border:none ;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px;
    padding-bottom: 20px;

}

#categories{
    
    text-align: center;
    color: black;
}
#categories h1{
    margin-bottom: 20px;
    color: black;
}
#categories h5{
    color: black;
    margin-top: 50px;
}
#bag{
    margin-top: 150px;
    border-radius: 0px 20px 0px 0px;
}

